*, :before, :after { -moz-box-sizing: border-box; box-sizing: border-box; }

*, :before, :after { padding: 0; margin: 0; border: 0; }

html { height: 100%; min-height: 100%; width: 100%; }

body { background: #FFFFFF; width: 100%; height: 100%; min-height: 100%; font-family: "Mulish", sans-serif; font-size: 16px; font-weight: 400; color: #222020; line-height: 1.7; letter-spacing: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body.no-scroll { height: 100vh; overflow-y: hidden; }

img { border: 0; max-width: 100%; display: inline-block; vertical-align: top; }

a { color: #222020; text-decoration: none; cursor: pointer; display: inline-block; }
a:hover, a:focus, a:active { text-decoration: underline; }

button { background-color: transparent; border-radius: 0; cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; line-height: 1.2; margin: 0 0 10px; }

h1 { font-size: 2.6rem; }

h2 { font-size: 2.4rem; }

h3 { font-size: 2.2rem; }

h4 { font-size: 2.0rem; }

h5 { font-size: 1.8rem; }

h6 { font-size: 1.125rem; }

p { font-size: 1rem; }

@media (max-width: 1279px) { .hidden-mobile { display: none !important; } }

@media (max-width: 767px) { .hidden-phone { display: none !important; } }

.visible-mobile { display: none; }
@media (max-width: 1279px) { .visible-mobile { display: block; }
  .visible-mobile.flex { display: flex; } }

.visible-phone { display: none; }
@media (max-width: 767px) { .visible-phone { display: block; }
  .visible-phone.flex { display: flex; } }

.container { width: 95%; max-width: 1440px; margin: 0 auto; padding: 0; }
@media (max-width: 1279px) { .container { width: calc(100% - 32px); max-width: calc(100% - 32px); margin: 0 16px; } }

.dropdown-toggle::after { width: 12px; height: 12px; display: inline-block; margin-left: 0.255em; vertical-align: baseline; border: 0; background-image: url("../../assets/icons/chevron-down.svg"); background-repeat: no-repeat; background-size: cover; background-position: center center; }
.dropdown-toggle.show::after { background-image: url("../../assets/icons/chevron-up.svg"); }

.btn { font-family: "Baskerville", serif; font-style: normal; font-weight: 400; line-height: 170%; letter-spacing: 0.54px; text-transform: uppercase; border-radius: 0; }
.btn:hover, .btn:active, .btn:focus { text-decoration: none; }
.btn.btn-primary { --bs-btn-bg: #3E6749; --bs-btn-border-color: #3E6749; --bs-btn-hover-bg: #50865F; --bs-btn-hover-border-color: #50865F; --bs-btn-active-bg: #50865F; --bs-btn-active-border-color: #50865F; --bs-btn-disabled-bg: #3E6749; --bs-btn-disabled-border-color: #3E6749; }
.btn.btn-secondary { --bs-btn-bg: #679992; --bs-btn-border-color: #679992; --bs-btn-hover-bg: #85ADA7; --bs-btn-hover-border-color: #85ADA7; --bs-btn-active-bg: #85ADA7; --bs-btn-active-border-color: #85ADA7; --bs-btn-disabled-bg: #679992; --bs-btn-disabled-border-color: #679992; }
.btn.btn-info { --bs-btn-bg: #E3C1C2; --bs-btn-border-color: #E3C1C2; --bs-btn-hover-bg: #EAD1D2; --bs-btn-hover-border-color: #EAD1D2; --bs-btn-active-bg: #EAD1D2; --bs-btn-active-border-color: #EAD1D2; --bs-btn-disabled-bg: #E3C1C2; --bs-btn-disabled-border-color: #E3C1C2; }
.btn.btn-lg { --bs-btn-padding-y: 0.75rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: 1.125rem; --bs-btn-border-radius: 0; }
.btn.btn-md { --bs-btn-padding-y: 0.75rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: 1rem; --bs-btn-border-radius: 0; }
.btn.btn-sm { --bs-btn-padding-y: 0.75rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: 1rem; --bs-btn-border-radius: 0; }
@media (max-width: 1279px) { .btn.btn-lg { --bs-btn-font-size: 1rem; } }
@media (max-width: 709px) { .btn { width: 100%; } }

.form-control { border-radius: 0; padding: 16px; height: 60px; }
.form-control.no-border { border: 1px solid #FFF; }

.banner { width: 100%; max-width: 1600px; margin: 0 auto; background-position: top right; background-repeat: no-repeat; background-size: cover; aspect-ratio: 72 / 30; }
.banner.banner-home { background-image: url("../../assets/banner/banner-1.jpg"); }
.banner.banner-about { background-image: url("../../assets/banner/banner-2.jpg"); }
.banner.banner-newsletter { background-image: url("../../assets/bg-newsletter.jpg"); }
.banner .container { height: 100%; }
.banner .banner-outer { height: 100%; padding: 0 80px; display: flex; }
.banner .banner-inner { width: 60%; align-self: center; }
.banner .banner-title { color: #3E6749; font-weight: 500; letter-spacing: 0.42px; text-transform: uppercase; margin-bottom: 4px; }
.banner .banner-header { font-size: 5rem; font-weight: 400; line-height: 1.2; margin-bottom: 24px; }
.banner p { color: #635F5F; font-size: 18px; margin-bottom: 40px; }
.banner.banner-light .banner-inner { width: 50%; }
.banner.banner-light .banner-title { color: #B69091; }
@media (max-width: 1279px) { .banner { background-position: 50% 100%; aspect-ratio: 32 / 25; }
  .banner.banner-content { width: calc(100% + 32px); margin: 0 -16px; }
  .banner .banner-inner { width: 75%; }
  .banner .banner-outer { padding: 0 32px; }
  .banner .banner-header { font-size: 3.5rem; }
  .banner p { font-size: 1rem; }
  .banner.banner-light .banner-inner { width: 70%; } }
@media (max-width: 709px) { .banner { background-position: 50% 100%; aspect-ratio: 3 / 4; }
  .banner .banner-inner { width: 100%; }
  .banner .banner-outer { padding: 0 16px; }
  .banner .banner-title { font-size: 0.75rem; }
  .banner .banner-header { font-size: 2rem; margin-bottom: 1rem; }
  .banner p { margin-bottom: 24px; }
  .banner .banner-header, .banner p { width: 85%; }
  .banner.banner-light .banner-inner { width: 100%; } }

.section-heading { padding-top: 100px; padding-bottom: 64px; }
.section-heading .section-heading-header { color: #635F5F; font-size: 14px; font-weight: 500; letter-spacing: 0.42px; text-transform: uppercase; }
.section-heading .section-heading-title { font-size: 3.5rem; }
@media (max-width: 1279px) { .section-heading { padding-top: 64px; padding-bottom: 40px; }
  .section-heading .section-heading-title { font-size: 2.5rem; } }
@media (max-width: 767px) { .section-heading { padding-top: 48px; }
  .section-heading .section-heading-header { font-size: 12px; margin-bottom: 4px; }
  .section-heading .section-heading-title { font-size: 2rem; } }

.products .products-inner { width: auto; padding-bottom: 120px; display: grid; grid-template-columns: repeat(4, minmax(270px, 25%)); grid-auto-flow: column; overflow-x: auto; gap: 32px; }
.products .products-inner .card { font-family: "Baskerville", serif; border: 0; text-align: center; }
.products .products-inner .card .card-img { width: 100%; aspect-ratio: 1 / 1; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.products .products-inner .card .card-img img { max-height: 100%; width: auto; }
.products .products-inner .card .card-text { font-weight: 700; }
.products .products-inner .card:hover { text-decoration: none; }
@media (max-width: 1279px) { .products .products-inner { margin-left: -35px; margin-right: -35px; padding-bottom: 64px; gap: 24px; } }
@media (max-width: 767px) { .products .products-inner { margin-left: -15px; margin-right: -15px; grid-template-columns: repeat(4, minmax(240px, 25%)); padding-bottom: 48px; } }

.grid-wrapper { display: grid; grid-template-columns: repeat(4, 1fr); gap: 32px; }
.grid-wrapper .grid-wrapper-link { background-position: center; background-size: cover; font-size: 2rem; font-family: "Baskerville", serif; text-decoration: none; padding: 32px 16px; aspect-ratio: 1 / 1; }
.grid-wrapper .grid-wrapper-link:hover { text-decoration: none; }
.grid-wrapper .grid-wrapper-link:nth-child(2) { grid-column: 3; grid-row: 2; }
.grid-wrapper .grid-wrapper-link:nth-child(5) { font-size: 4rem; padding: 40px; grid-column: 1 / 3; grid-row: 1 / 3; }
.grid-wrapper--promotion { background-image: url("../../assets/bg-promotion.jpg"); }
.grid-wrapper--ring { background-image: url("../../assets/bg-ring.jpg"); }
.grid-wrapper--bracelet { background-image: url("../../assets/bg-bracelet.jpg"); }
.grid-wrapper--earring { background-image: url("../../assets/bg-earring.jpg"); }
.grid-wrapper--necklace { background-image: url("../../assets/bg-necklace.jpg"); }
@media (max-width: 1279px) { .grid-wrapper { grid-template-columns: repeat(3, 1fr); }
  .grid-wrapper .grid-wrapper-link { padding: 24px 16px; aspect-ratio: 22 / 31; }
  .grid-wrapper .grid-wrapper-link:nth-child(2) { grid-column: 1; grid-row: 2; }
  .grid-wrapper .grid-wrapper-link:nth-child(3) { grid-column: 2; grid-row: 2; }
  .grid-wrapper .grid-wrapper-link:nth-child(5) { grid-column: 1 / 3; grid-row: 1 / 3; aspect-ratio: 47 / 31; font-size: 3.5rem; } }
@media (max-width: 709px) { .grid-wrapper { grid-template-columns: repeat(1, 1fr); }
  .grid-wrapper .grid-wrapper-link { aspect-ratio: 17 / 11; }
  .grid-wrapper .grid-wrapper-link:nth-child(2) { grid-column: 1; grid-row: 2; }
  .grid-wrapper .grid-wrapper-link:nth-child(3) { grid-column: 1; grid-row: 3; }
  .grid-wrapper .grid-wrapper-link:nth-child(5) { padding: 24px 16px; grid-column: 1 / 1; grid-row: 1 / 1; aspect-ratio: 34 / 43; } }

.about { display: flex; gap: 32px; padding: 28px 0 60px; }
.about img { margin-bottom: 32px; }
.about p { color: #635F5F; }
.about .about-col { width: 25%; }
@media (max-width: 1279px) { .about { flex-wrap: wrap; padding-bottom: 16px; }
  .about .about-col { width: calc(50% - 16px); } }
@media (max-width: 767px) { .about { padding-top: 0; padding-bottom: 0; gap: 0; }
  .about .about-col { width: 100%; padding-bottom: 48px; } }

.blog { display: flex; gap: 32px; padding: 28px 0 40px; }
.blog .blog-img { width: 100%; max-width: 100%; margin-bottom: 32px; }
.blog p { color: #635F5F; }
.blog .blog-col { width: 33.3333%; }
@media (max-width: 1279px) { .blog { margin: 0 -35px; padding: 0 35px; display: grid; grid-template-columns: repeat(3, minmax(270px, 33.33%)); grid-auto-flow: column; overflow-x: auto; gap: 24px; }
  .blog .blog-col { width: 100%; } }
@media (max-width: 767px) { .blog { margin: 0 -15px; padding: 0 15px; } }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

h1, h2, h4 { font-family: "Baskerville", serif; }

h4 { font-size: 1.5rem; margin-bottom: 1rem; }

h6 { font-size: 1.125rem; }

.link { font-family: "Baskerville", serif; font-size: 1.125rem; color: #222020; letter-spacing: 0.54px; text-transform: uppercase; text-decoration: underline; }
@media (max-width: 1279px) { .link { font-size: 1rem; } }

#header { min-height: unset; }
#header .blockcart { float: none; margin-top: 0; padding-right: 0; }

nav.navbar { padding: 40px 0; margin: 0; }
nav.navbar.fixed { padding: 30px 0; }
nav.navbar .logo { width: 187px; display: block; }
nav.navbar .nav-link { font-size: 16px; font-weight: normal; position: relative; }
nav.navbar .navbar-nav { display: flex; gap: 24px; align-items: center; }
nav.navbar .navbar-icon { display: flex; align-items: center; margin-right: 0; margin-left: 24px; }
nav.navbar .navbar-icon img { margin-right: 8px; }
nav.navbar .navbar-toggler { border: 0; padding: 16px 0; }
nav.navbar .navbar-toggler > span { background-color: #000; position: relative; display: block; width: 26px; height: 1px; border-radius: 2px; }
nav.navbar .navbar-toggler > span:before, nav.navbar .navbar-toggler > span:after { position: absolute; background: #000; content: ''; width: 26px; height: 1px; border-radius: 2px; left: 0; -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; }
nav.navbar .navbar-toggler > span:before { top: -8px; }
nav.navbar .navbar-toggler > span:after { top: 8px; }
nav.navbar .navbar-toggler[aria-expanded="true"] > span { background-color: transparent; }
nav.navbar .navbar-toggler[aria-expanded="true"] > span:before { transform: rotate(45deg) translate(5px, 6px); }
nav.navbar .navbar-toggler[aria-expanded="true"] > span:after { transform: rotate(-45deg) translate(5px, -6px); }
nav.navbar .navbar-toggler:focus { box-shadow: none; }
@media (max-width: 1199px) { nav.navbar { padding: 26px 0; }
  nav.navbar .navbar-icon > span { display: none; }
  nav.navbar .navbar-nav { gap: 0; }
  nav.navbar .navbar-collapse { position: fixed; width: 100%; height: calc(100vh - 110px); top: 110px; left: 0; overflow-x: auto; background-color: #FFF; z-index: 100; border-top: 1px solid #CDCBCB; padding: 16px 32px; }
  nav.navbar .navbar-collapse.collapsing { transition: height .15s ease !important; }
  nav.navbar .navbar-collapse .dropdown, nav.navbar .navbar-collapse .nav-link { width: 100%; text-align: left; }
  nav.navbar .navbar-collapse .nav-link { padding: 16px 0; border-bottom: 1px solid #CDCBCB; position: relative; }
  nav.navbar .navbar-collapse .nav-link::after { position: absolute; right: 0; top: 50%; margin-top: -6px; }
  nav.navbar .navbar-collapse .nav-link:last-child { border-bottom: 0; }
  nav.navbar .navbar-collapse .dropdown .nav-link.show { border-bottom-color: #FFF; padding-bottom: 8px; }
  nav.navbar .navbar-collapse .dropdown .dropdown-menu { border: 0; border-bottom: 1px solid #CDCBCB; border-radius: 0; padding-top: 0; padding-bottom: 16px; }
  nav.navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-item { color: #635F5F; padding-left: 0; padding-right: 0; } }
@media (max-width: 767px) { nav.navbar { padding: 24px 0; }
  nav.navbar .logo { width: 128px; }
  nav.navbar .navbar-collapse { height: calc(100vh - 86px); top: 86px; padding: 16px; } }

footer { background-image: url("../../assets/footer-bg.jpeg"); background-repeat: no-repeat; background-position: top center; background-size: cover; padding: 100px 0; }
@media (max-width: 1279px) { footer { padding: 64px 0; } }
@media (max-width: 1279px) { footer { padding: 40px 0; } }
footer .logo { width: 187px; display: block; }
@media (max-width: 767px) { footer .logo { width: 128px; } }
footer p { margin-bottom: 0; }
footer h6 { margin-bottom: 32px; }

.footer-menu { padding: 80px 0 40px; margin-bottom: 48px; border-bottom: 1px solid #CDCBCB; }
.footer-menu .footer-menu-item { padding-bottom: 40px; }
.footer-menu p, .footer-menu a { color: #635F5F; }
.footer-menu p { margin-bottom: 16px; }
@media (max-width: 1279px) { .footer-menu { padding: 48px 0 8px; } }
@media (max-width: 767px) { .footer-menu { padding: 24px 0 0; }
  .footer-menu .footer-menu-item { border-bottom: 1px solid #CDCBCB; padding-bottom: 0; }
  .footer-menu .footer-menu-item:last-child { border: 0; }
  .footer-menu .footer-menu-item:first-child { border-top: 1px solid #CDCBCB; }
  .footer-menu .footer-menu-item h6 { font-size: 1rem; padding: 16px 0; margin-bottom: 0; position: relative; }
  .footer-menu .footer-menu-item h6::after { content: ""; width: 12px; height: 12px; background-image: url("../../assets/icons/chevron-down.svg"); background-repeat: no-repeat; background-size: cover; background-position: center center; position: absolute; right: 0; top: 50%; margin-top: -6px; }
  .footer-menu .footer-menu-item > div { display: none; }
  .footer-menu .footer-menu-item.show > h6::after { background-image: url("../../assets/icons/chevron-up.svg"); }
  .footer-menu .footer-menu-item.show > div { display: block; } }

.footer-bottom { font-size: 14px; display: flex; flex-wrap: wrap; align-items: center; }
.footer-bottom .footer-bottom-left { width: 70%; display: flex; align-items: center; gap: 40px; }
.footer-bottom .footer-bottom-right { width: 30%; display: flex; justify-content: flex-end; align-items: center; gap: 16px; }
@media (max-width: 1279px) { .footer-bottom { flex-direction: column-reverse; }
  .footer-bottom .footer-bottom-left, .footer-bottom .footer-bottom-right { width: 100%; }
  .footer-bottom .footer-bottom-right { justify-content: flex-start; margin-bottom: 48px; } }

.instagram { background-color: #635F5F; width: 24px; height: 24px; display: block; border-radius: 100%; padding: 5px; }
.instagram img { width: 14px; height: 14px; display: block; }
