.flexslider {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    .slides {
        .slide {
            aspect-ratio: 72 / 30;

            > a {
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: auto;
                    max-width: none;
                }
            }

            .caption-description {
                position: absolute;
                bottom: 0;
                top: 0;
                left: 5%;
                width: 55%;
                height: 100%;
                display: flex;
                align-items: center;
                text-align: left;

                .container {
                    width: 100%;
                }

                .title {
                    color: #3E6749;
                    font-weight: 500;
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                    margin-bottom: 4px;
                }

                .sub_title {
                    font-family: $secondary-font;
                    font-size: 5rem;
                    font-weight: 400;
                    line-height: 1.2;
                    margin-bottom: 24px;
                }

                p, .main_title {
                    color: $color-text-alt;
                    font-size: 18px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .flex-control-nav {
        bottom: 40px;

        li {
            margin: 0 6px;

            a {
                width: 16px;
                height: 16px;
                opacity: 0.6;

                &.flex-active {
                    opacity: 1;
                    border-color: #FFF;
                    background-color: #FFF;
                }
            }
        }
    }

    @include respond-to(mobile) {
        .slides .slide {
            aspect-ratio: 32 / 25;

            > a > img {
                left: auto;
                right: -50%;
            }

            .caption-description {
                width: 75%;

                .sub_title {
                    font-size: 3.5rem;
                }

                p, .main_title {
                    font-size: 1rem;
                }
            }
        }
    }

    @include respond-to(phone-xs) {
        .slides .slide {
            aspect-ratio: 3 / 4;

            > a > img {
                right: -120%;
            }

            .caption-description {
                width: 98%;
                left: 1%;

                .title {
                    font-size: 0.75rem;
                }

                .sub_title {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                p, .main_title {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.banner {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 72 / 30;

    &.banner-home {
        background-image: url("../../assets/banner/banner-1.jpg");
    }

    &.banner-about {
        background-image: url("../../assets/banner/banner-2.jpg");
    }

    &.banner-newsletter {
        background-image: url("../../assets/bg-newsletter.jpg");
    }

    .container {
        height: 100%;
    }

    .banner-outer {
        height: 100%;
        padding: 0 80px;
        display: flex;
    }

    .banner-inner {
        width: 60%;
        align-self: center;
    }

    .banner-title {
        color: #3E6749;
        font-weight: 500;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    .banner-header {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    p {
        color: $color-text-alt;
        font-size: 18px;
        margin-bottom: 40px;
    }

    &.banner-light {
        .banner-inner {
            width: 50%;
        }
        .banner-title {
            color: #B69091;
        }
    }

    @include respond-to(mobile) {
        background-position: 50% 100%;
        aspect-ratio: 32 / 25;

        &.banner-content {
            width: calc(100% + 32px);
            margin: 0 -16px;
        }

        .banner-inner {
            width: 75%;
        }

        .banner-outer {
            padding: 0 32px;
        }

        .banner-header {
            font-size: 3.5rem;
        }

        p {
            font-size: 1rem;
        }

        &.banner-light {
            .banner-inner {
                width: 70%;
            }
        }
    }

    @include respond-to(phone-xs) {
        background-position: 50% 100%;
        aspect-ratio: 3 / 4;

        .banner-inner {
            width: 100%;
        }

        .banner-outer {
            padding: 0 16px;
        }

        .banner-title {
            font-size: 0.75rem;
        }

        .banner-header {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 24px;
        }

        .banner-header, p {
            width: 100%;
        }

        &.banner-light {
            .banner-inner {
                width: 100%;
            }
        }
    }
}

.section-heading {
    padding-top: 100px;
    padding-bottom: 64px;
    .section-heading-header {
        color: #635F5F;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
    .section-heading-title {
        font-size: 3.5rem;
    }

    .row {
        margin: 0;

        > div {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include respond-to(mobile) {
        padding-top: 64px;
        padding-bottom: 40px;
        .section-heading-title {
            font-size: 2.5rem;
        }
    }

    @include respond-to(phone) {
        padding-top: 48px;
        .section-heading-header {
            font-size: 12px;
            margin-bottom: 4px;
        }
        .section-heading-title {
            font-size: 1.8rem;
        }
    }
}

.products {
    .bx-wrapper {
        width: 100%;
        padding-bottom: 120px;

        .bx-prev,
        .bx-next {
            background-color: #F6F6F6;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-top: -20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                font-size: 30px;
                color: $color-text;
                line-height: 40px;
                padding-left: 0;
            }
        }

        .bx-prev {
            left: -5%;
            &:before {
                content: "\f104";
                padding-right: 5px;
            }
        }

        .bx-next {
           right: -5%;
            &:before {
                content: "\f105";
                padding-left: 5px;
            }
        }
    }

    .products-inner {
        width: auto;
        padding-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, 25%));
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 32px;
    }

    .bxslider,
    .products-inner {
        .card {
            font-family: $secondary-font;
            border: 0;
            text-align: center;
            margin-bottom: 0;

            .card-img {
                width: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    max-height: 100%;
                    width: auto;
                }
            }

            .card-text {
                font-weight: 700;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    @include respond-to(mobile) {
        .bxslider,
        .products-inner {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 25%));
            grid-auto-columns: minmax(270px, 25%);
            grid-auto-flow: column;
            overflow-x: auto;
            margin-left: -16px;
            margin-right: -16px;
            padding: 0 16px 64px;
            gap: 24px;
        }
    }

    @include respond-to(phone) {
        .bxslider,
        .products-inner {
            grid-template-columns: repeat(4, minmax(240px, 25%));
            grid-auto-columns: minmax(240px, 25%);
            padding-bottom: 48px;
        }
    }
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    .grid-wrapper-link {
        background-position: center;
        background-size: cover;
        font-size: 2rem;
        font-family: $secondary-font;
        text-decoration: none;
        padding: 32px 16px;
        aspect-ratio: 1 / 1;

        &:hover {
            text-decoration: none;
        }

        &:nth-child(2) {
            grid-column: 3;
            grid-row: 2;
        }

        &:nth-child(5) {
            font-size: 4rem;
            padding: 40px;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }
    }

    &--promotion {
        background-image: url("../../assets/bg-promotion.jpg");
    }

    &--ring {
        background-image: url("../../assets/bg-ring.jpg");
    }

    &--bracelet {
        background-image: url("../../assets/bg-bracelet.jpg");
    }

    &--earring {
        background-image: url("../../assets/bg-earring.jpg");
    }

    &--necklace {
        background-image: url("../../assets/bg-necklace.jpg");
    }

    @include respond-to(mobile) {
        grid-template-columns: repeat(3, 1fr);
        .grid-wrapper-link {
            padding: 24px 16px;
            aspect-ratio: 22 / 31;

            &:nth-child(2) {
                grid-column: 1;
                grid-row: 2;
            }

            &:nth-child(3) {
                grid-column: 2;
                grid-row: 2;
            }

            &:nth-child(5) {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
                aspect-ratio: 47 / 31;
                font-size: 3.5rem;
            }
        }
    }

    @include respond-to(phone-xs) {
        grid-template-columns: repeat(1, 1fr);

        .grid-wrapper-link {
            aspect-ratio: 17 / 11;

            &:nth-child(2) {
                grid-column: 1;
                grid-row: 2;
            }

            &:nth-child(3) {
                grid-column: 1;
                grid-row: 3;
            }

            &:nth-child(5) {
                padding: 24px 16px;
                grid-column: 1 / 1;
                grid-row: 1 / 1;
                aspect-ratio: 34 / 43;
            }
        }
    }
}

.about {
    display: flex;
    gap: 32px;
    padding: 28px 0 60px;

    img {
        margin-bottom: 32px;
    }

    p {
        color: $color-text-alt;
    }

    .about-col {
        width: 25%;
    }

    @include respond-to(mobile) {
        flex-wrap: wrap;
        padding-bottom: 16px;
        .about-col {
            width: calc(50% - 16px);
        }
    }

    @include respond-to(phone) {
        padding-top: 0;
        padding-bottom: 0;
        gap: 0;
        .about-col {
            width: 100%;
            padding-bottom: 48px;
        }
    }
}

.blog {
    display: flex;
    gap: 32px;
    padding: 28px 0 40px;

    .blog-img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 32px;
    }

    p {
        color: $color-text-alt;
    }


    .blog-col {
        width: 33.3333%;
    }

    @include respond-to(mobile) {
        margin: 0 -35px;
        padding: 0 35px;
        display: grid;
        grid-template-columns: repeat(3, minmax(270px, 33.33%));
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 24px;

        .blog-col {
            width: 100%;
        }
    }

    @include respond-to(phone) {
        margin: 0 -15px;
        padding: 0 15px;
    }
}