.container {
    width: calc(100% - 160px);
    max-width: calc(100% - 160px);
    margin: 0 80px;
    padding: 0;

    @include respond-to(mobile) {
        width: calc(100% - 70px);
        max-width: calc(100% - 70px);
        margin: 0 35px;
    }

    @include respond-to(phone) {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }
}

.dropdown-toggle {
    &::after {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: baseline;
        border: 0;
        background-image: url("../../assets/icons/chevron-down.svg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &.show::after {
        background-image: url("../../assets/icons/chevron-up.svg") ;
    }
}

.btn {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border-radius: 0;

    &.btn-primary {
        --bs-btn-bg: #3E6749;
        --bs-btn-border-color: #3E6749;
        --bs-btn-hover-bg: #0b5ed7;
        --bs-btn-hover-border-color: #0a58ca;
        --bs-btn-active-bg: #0a58ca;
        --bs-btn-active-border-color: #0a53be;
        --bs-btn-disabled-bg: #3E6749;
        --bs-btn-disabled-border-color: #3E6749;
    }

    &.btn-lg {
        --bs-btn-padding-y: 0.75rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1.125rem;
        --bs-btn-border-radius: 0;
    }

    @include respond-to(mobile) {
        &.btn-lg {
            --bs-btn-font-size: 1rem;
        }
    }
}

.banner {
    background-image: url("../../assets/banner/banner-1.jpeg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 72 / 30;

    .container {
        height: 100%;
    }

    .banner-inner {
        width: 50%;
        align-self: center;
    }

    .banner-title {
        color: #3E6749;
        font-weight: 500;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    .banner-header {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    p {
        color: #635F5F;
        font-size: 18px;
        margin-bottom: 40px;
    }

    @include respond-to(mobile) {
        background-position: 50% 100%;
        aspect-ratio: 32 / 25;

        .banner-inner {
            width: 65%;
        }

        .banner-header {
            font-size: 3.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    @include respond-to(phone) {
        background-position: 50% 100%;
        aspect-ratio: 3 / 4;

        .banner-inner {
            width: 100%;
        }

        .banner-title {
            font-size: 0.75rem;
        }

        .banner-header {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 24px;
        }

        .banner-header, p {
            width: 85%;
        }

        .btn.btn-primary {
            width: 100%;
        }
    }
}

.products {
    padding-top: 100px;

    .products-header {
        color: #635F5F;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    .products-title {
        font-size: 3.5rem;
    }

    .products-inner {
        width: auto;
        padding-top: 64px;
        padding-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 25%));
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 32px;

        .card {
            font-family: $secondary-font;
            border: 0;
            text-align: center;

            .card-img {
                width: 100%;
                aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    max-height: 100%;
                    width: auto;
                }
            }

            .card-text {
                font-weight: 700;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    @include respond-to(mobile) {
        padding-top: 64px;

        .products-title {
            font-size: 2.5rem;
        }

        .products-inner {
            margin-left: -35px;
            margin-right: -35px;
            padding-top: 40px;
            padding-bottom: 64px;
            gap: 24px;
        }
    }

    @include respond-to(phone) {
        padding-top: 48px;

        .products-header {
            font-size: 12px;
            margin-bottom: 4px;
        }

        .products-title {
            font-size: 2rem;
        }

        .products-inner {
            grid-template-columns: repeat(4, minmax(240px, 25%));
            padding-bottom: 48px;
        }
    }
}