.container {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;

    @include respond-to(mobile) {
        width: calc(100% - 70px);
        max-width: calc(100% - 70px);
        margin: 0 35px;
    }

    @include respond-to(phone) {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }
}

.dropdown-toggle {
    &::after {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: baseline;
        border: 0;
        background-image: url("../../assets/icons/chevron-down.svg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &.show::after {
        background-image: url("../../assets/icons/chevron-up.svg") ;
    }
}

.btn {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border-radius: 0;

    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    &.btn-primary {
        --bs-btn-bg: #3E6749;
        --bs-btn-border-color: #3E6749;
        --bs-btn-hover-bg: #50865F;
        --bs-btn-hover-border-color: #50865F;
        --bs-btn-active-bg: #50865F;
        --bs-btn-active-border-color: #50865F;
        --bs-btn-disabled-bg: #3E6749;
        --bs-btn-disabled-border-color: #3E6749;
    }

    &.btn-secondary {
        --bs-btn-bg: #679992;
        --bs-btn-border-color: #679992;
        --bs-btn-hover-bg: #85ADA7;
        --bs-btn-hover-border-color: #85ADA7;
        --bs-btn-active-bg: #85ADA7;
        --bs-btn-active-border-color: #85ADA7;
        --bs-btn-disabled-bg: #679992;
        --bs-btn-disabled-border-color: #679992;
    }

    &.btn-info {
        --bs-btn-bg: #E3C1C2;
        --bs-btn-border-color: #E3C1C2;
        --bs-btn-hover-bg: #EAD1D2;
        --bs-btn-hover-border-color: #EAD1D2;
        --bs-btn-active-bg: #EAD1D2;
        --bs-btn-active-border-color: #EAD1D2;
        --bs-btn-disabled-bg: #E3C1C2;
        --bs-btn-disabled-border-color: #E3C1C2;
    }

    &.btn-lg {
        --bs-btn-padding-y: 0.75rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1.125rem;
        --bs-btn-border-radius: 0;
    }

    &.btn-md {
        --bs-btn-padding-y: 0.75rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1rem;
        --bs-btn-border-radius: 0;
    }

    &.btn-sm {
        --bs-btn-padding-y: 0.75rem;
        --bs-btn-padding-x: 1.5rem;
        --bs-btn-font-size: 1rem;
        --bs-btn-border-radius: 0;
    }

    @include respond-to(mobile) {
        &.btn-lg {
            --bs-btn-font-size: 1rem;
        }
    }
}
