.container {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;

    @include respond-to(mobile) {
        width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        margin: 0 16px;
    }
}

.dropdown-toggle {
    &::after {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: baseline;
        border: 0;
        background-image: url("../../assets/icons/chevron-down.svg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &.show::after {
        background-image: url("../../assets/icons/chevron-up.svg") ;
    }
}

.btn {
    width: auto !important;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border-radius: 0;

    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    &.btn-primary {
        background-color: #3E6749;
        border-color: #3E6749;

        &:hover {
            background-color: #50865F;
            border-color: #50865F;
        }

        &:active {
            background-color: #50865F;
            border-color: #3E6749;
        }

        &:disabled {
            background-color: #3E6749;
            border-color: #3E6749;
        }
    }

    &.btn-secondary {
        background-color: #679992;
        border-color: #679992;

        &:hover {
            background-color: #679992;
            border-color: #85ADA7;
        }

        &:active {
            background-color: #85ADA7;
            border-color: #85ADA7;
        }

        &:disabled {
            background-color: #679992;
            border-color: #679992;
        }
    }

    &.btn-info {
        background-color: #E3C1C2;
        border-color: #E3C1C2;

        &:hover {
            background-color: #EAD1D2;
            border-color: #EAD1D2;
        }

        &:active {
            background-color: #EAD1D2;
            border-color: #EAD1D2;
        }

        &:disabled {
            background-color: #E3C1C2;
            border-color: #E3C1C2;
        }
    }

    &.btn-lg {
        font-size: 1.125rem;
        border-radius: 0;
        padding: 0.75rem 1.5rem;
    }

    &.btn-md {
        font-size: 1rem;
        border-radius: 0;
        padding: 0.75rem 1.5rem;
    }

    &.btn-sm {
        font-size: 1rem;
        border-radius: 0;
        padding: 0.75rem 1.5rem;
    }

    @include respond-to(mobile) {
        &.btn-lg {
            font-size: 1rem;
        }
    }

    @include respond-to(phone-xs) {
        width: 100% !important;
    }
}

.form-control {
    border-radius: 0;
    padding: 16px;
    height: 60px;

    &.no-border {
        border: 1px solid #FFF;
    }
}

.form-control-select {
    padding-right: 30px;
}

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    //padding-left: 0;
    //padding-right: 0;
}